/*style.css*/
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.fieldset {
  background-color: #99b4bf;
  border: 5px solid #bf8d30;
  border-radius: 20px / 10px;
}

.fieldset__legend {
  border: 5px solid #bf8d30;
  background-color: #bf8d30;
  color: #253c59;
  border-radius: 20px / 10px;
  padding: 3px;
  text-align: left;
}

.swap__button {
  width: 50%;
  margin-top: 10px;
  padding: 5px;
  background-color: #436d9f;
  color: white;
  border-radius: 20px / 40px;
  border: none;
}

.swap__button:hover {
  background-color: #4b7ab4;
  cursor: pointer;
}

.swap__button:active {
  background-color: #446ea2;
  box-shadow: 0px -5px 48px -10px #4b7ab4;
}